* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-family-base;
}

// ------------------Header---------------------------------------
header {
  position: fixed;
  background-color: $gcolor-1;
  width: 100%;
  top: 0;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// ---------------------Logo-------------------------------------
.logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
// ----------------------Mobile ---------------------------------
.mobile-icon i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;

  a {
    color: #fff;
    font-family: $font-family-base;
  }
}

// ---------Mobile-Icon------
#menu-btn {
  display: relative;

  ul {
    display: none;
    list-style: none;
    padding: 1em;
  }
  a {
    text-decoration: none;
  }
}
#menu-btn:hover ul {
  display: block;
}
// ---------------------Desktop-----------------------------------
nav {
  display: none;

  ul {
    display: flex;
    padding: 1rem;

    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      font-size: 1.4rem;
      margin: 0 1rem;
      color: #fff;
      font-family: $font-family-base;
    }
  }
}

// B: MAIN SECTION

main {
  background: linear-gradient(to bottom, $gcolor-3, $gcolor-2, $gcolor-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 1rem;
  padding-bottom: 16rem; //Muss noch an den Footer angepasst werden
}

.container {
  height: 100vh;
  padding-top: 7rem; //Muss noch an den Header angepasst werden
  display: grid;
  gap: 1rem;
  grid: 1fr 1fr 1fr;
  grid-template-areas:
    "content-1 content-1 content-1"
    "content-2 content-2 content-3"
    "content-5 content-4 content-4";

  section,
  aside {
    height: 100%;
    border: 2px solid rgba(128, 128, 128, 0.289);
    box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
    border-radius: 5px;
  }

  .content-1 {
    grid-area: content-1;
  }
  .content-2 {
    grid-area: content-2;
  }
  .content-3 {
    grid-area: content-3;
  }
  .content-4 {
    grid-area: content-4;
  }
  .content-5 {
    grid-area: content-5;
  }
}

// B: FOOTER SECTION

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $gcolor-1;
  color: #fff;
  padding: 4rem 0;
  font-size: 3.5rem;
  border-top: $gcolor-3 1px solid;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    font-family: $font-family-headline;
    cursor: pointer;
  }

  .icons {
    font-size: 3.5rem;
  }

  a:hover {
    color: $color-1;
  }
}
// -----------------------Responsive-------------------------------
@media (min-width: 768px) {
  #menu-btn {
    display: none;
  }
  nav {
    display: block;
  }
}
