* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-family-base;
}

// B: BODY SECTION

body {
  background: linear-gradient(to bottom, $gcolor-3, $gcolor-2, $gcolor-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

// ---------------------Logo-------------------------------------
.logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
// ----------------------Mobile ---------------------------------
.mobile-icon i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;

  a {
    color: #fff;
    font-family: $font-family-base;
  }
}

// ---------Mobile-Icon------
#menu-btn {
  display: relative;

  ul {
    display: none;
    list-style: none;
    padding: 1em;
  }
  a {
    text-decoration: none;
  }
}
#menu-btn:hover ul {
  display: block;
}
// ---------------------Desktop-----------------------------------
nav {
  display: none;

  ul {
    display: flex;
    padding: 1rem;

    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      font-size: 1.4rem;
      margin: 0 1rem;
      color: #fff;
      font-family: $font-family-base;
    }
  }
}

// B: FOOTER SECTION

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $gcolor-1;
  color: #fff;
  padding: 0 3rem 1.5rem 3rem;
  border-top: $gcolor-3 1px solid;

  .imprint a {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-family-headline;
    cursor: pointer;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .icons a {
    font-size: 6rem;
    color: #fff;
    margin: 0 1rem;
  }

  .copyright {
    font-size: 2rem;
  }

  .imprint {
    margin: 0 0 1rem 0;
  }

  .imprint a:hover,
  .icons a:nth-child(odd):hover {
    color: $color-1;
  }

  .icons a:nth-child(even):hover {
    color: $color-2;
  }
}
// ------------------Header---------------------------------------
header {
  position: fixed;
  background-color: $gcolor-1;
  width: 100%;
  top: 0;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// -----------------------Responsive-------------------------------
@media (min-width: 768px) {
  #menu-btn {
    display: none;
  }
  nav {
    display: block;
  }

  // B:FOOTER RESPONSIVE
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .icons:nth-child(1) {
    order: 2;
    width: 50%;
  }

  .imprint:nth-child(2) {
    order: 3;
    width: 25%;
  }

  .copyright:nth-child(3) {
    order: 1;
    width: 25%;
  }

  .imprint {
    display: flex;
    justify-content: flex-end;
  }
}
