// COLORS
$color-p: #ffffffdd;
$gcolor-1: #0f2027;
$gcolor-2: #213a42;
$gcolor-3: #2c5364;
$color-1: #bf2c53;
$color-2: #056cf2;
$color-3: #44a1f2;
$color-4: #f2b33d;
$color-5: #04bf68;


// FONT

$font-family-base: "Roboto", sans-serif;
$font-family-headline: "Roboto Slab", serif;
