* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.8666666667);
}

header {
  position: fixed;
  background-color: #0f2027;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 5px 5px 20px #0f2027;
}

.logo i {
  text-decoration: none;
  font-size: 5rem;
  color: #f2b33d;
}

.mobile-drop i {
  font-size: 3.5rem;
  cursor: pointer;
}
.mobile-drop i li {
  display: flex;
  justify-content: center;
}
.mobile-drop i a {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  padding: 1rem;
}

#menu-btn ul {
  display: none;
  list-style: none;
  animation: growDown 500ms ease-in-out forwards;
}
#menu-btn ul a {
  text-decoration: none;
}

#menu-btn:hover {
  color: #bf2c53;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#menu-btn:hover ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#menu-btn:hover a:hover {
  color: #04bf68;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
nav {
  display: none;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  font-size: 3rem;
  margin: 2rem;
  font-family: "Roboto Slab", serif;
}
nav ul a:hover {
  color: #056cf2;
}

.background-image {
  margin-top: 80px;
}
.background-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main {
  background: linear-gradient(to bottom, #2c5364, #213a42, #0f2027);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5rem 1rem 20rem 1rem;
}

.container {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid: 1fr 1fr 1fr;
  grid-template-rows: 30rem 30rem 30rem;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-areas: "content-1 content-1 content-1" "content-2 content-2 content-3" "content-5 content-4 content-4";
}
.container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(128, 128, 128, 0.289);
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
  border-radius: 15px;
}
.container section h2 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}
.container section p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.container aside {
  border: 2px solid rgba(128, 128, 128, 0.289);
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container aside img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.container .content-1 {
  grid-area: content-1;
}
.container .content-1 h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  color: #04bf68;
}
.container .content-1 h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.container .content-1 p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.container .content-2 {
  grid-area: content-2;
}
.container .content-3 {
  grid-area: content-3;
}
.container .content-4 {
  grid-area: content-4;
}
.container .content-5 {
  grid-area: content-5;
}
.container .content-6 {
  grid-area: content-6;
}
.container .content-7 {
  grid-area: content-7;
}
.container .content-8 {
  grid-area: content-8;
}
.container .content-9 {
  grid-area: content-9;
}
.container .content-10 {
  grid-area: content-10;
}
.container .content-11 {
  grid-area: content-11;
}
.container .content-12 {
  grid-area: content-12;
}
.container .content-13 {
  grid-area: content-13;
}

.container-side {
  height: 100%;
  display: grid;
  padding-top: 10rem;
  gap: 1rem;
  grid: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 30rem);
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-areas: "content-1 content-1 content-1" "content-2 content-2 content-3" "content-5 content-4 content-4" "content-6 content-6 content-7" "content-9 content-8 content-8" "content-10 content-10 content-11" "content-13 content-12 content-12";
}
.container-side section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(128, 128, 128, 0.289);
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
  border-radius: 15px;
}
.container-side section h2 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}
.container-side section p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.container-side aside {
  border: 2px solid rgba(128, 128, 128, 0.289);
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-side aside img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.container-side .content-1 {
  grid-area: content-1;
}
.container-side .content-1 h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  color: #04bf68;
}
.container-side .content-1 h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.container-side .content-1 p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.container-side .content-2 {
  grid-area: content-2;
}
.container-side .content-3 {
  grid-area: content-3;
}
.container-side .content-4 {
  grid-area: content-4;
}
.container-side .content-5 {
  grid-area: content-5;
}
.container-side .content-6 {
  grid-area: content-6;
}
.container-side .content-7 {
  grid-area: content-7;
}
.container-side .content-8 {
  grid-area: content-8;
}
.container-side .content-9 {
  grid-area: content-9;
}
.container-side .content-10 {
  grid-area: content-10;
}
.container-side .content-11 {
  grid-area: content-11;
}
.container-side .content-12 {
  grid-area: content-12;
}
.container-side .content-13 {
  grid-area: content-13;
}

.container-imprint {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  padding: 3rem;
  line-height: 1.5;
  text-align: center;
}
.container-imprint .contact-imprint {
  padding-bottom: 2rem;
}
.container-imprint .haftung {
  padding-bottom: 2rem;
}
.container-imprint .extern {
  padding-bottom: 2rem;
}
.container-imprint h2 {
  font-size: 4rem;
  color: #44a1f2;
  font-family: "Roboto Slab", serif;
}
.container-imprint h3 {
  font-size: 3rem;
}
.container-imprint p {
  font-size: 2rem;
}
.container-imprint span {
  text-decoration: underline;
  font-size: 2.5rem;
}
.container-imprint p i {
  font-size: 20px;
}

.container-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-form h2 {
  font-family: "Roboto Slab", serif;
  font-size: 4rem;
  text-align: center;
  margin: 1rem;
  color: #04bf68;
}
.container-form form {
  margin: 2rem;
  padding: 2rem;
  font-size: 3rem;
  border: 2px solid rgba(128, 128, 128, 0.289);
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
  border-radius: 5px;
}
.container-form input[type=text],
.container-form input[type=email],
.container-form textarea,
.container-form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #213a42;
}
.container-form select option {
  color: #213a42;
  font-size: 2rem;
}
.container-form input[type=submit] {
  background-color: #04bf68;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.container-form input[type=submit]:hover {
  background-color: #038d4d;
}
.container-form .data-protection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 20px 0;
  padding: 2rem;
  font-size: 3rem;
  border: 2px solid rgba(128, 128, 128, 0.289);
  box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.042);
  border-radius: 5px;
}
.container-form .toggle {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
}
.container-form .input {
  display: none;
}
.container-form .toggle-div {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: grey;
  border-radius: 20px;
}
.container-form .toggle-div::after {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  margin: 2px;
  border-radius: 50%;
}
.container-form .input:checked + .toggle-div::after {
  transform: translateX(20px);
  animation: toggle 0.2s;
}
.container-form .input:checked + .toggle-div {
  background-color: #04bf68;
}
.container-form .input:not(:checked) + .toggle-div::after {
  animation: reverse-toggle 0.2s;
}
@keyframes toggle {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(20px);
  }
}
@keyframes reverse-toggle {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0f2027;
  padding: 0 4rem 1.5rem 3rem;
  box-shadow: 5px 5px 20px #2c5364;
}
footer .imprint a {
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
}
footer .icons {
  display: flex;
  justify-content: center;
}
footer .icons a {
  font-size: 6rem;
  margin: 0 1rem;
  color: #f2b33d;
}
footer .copyright {
  font-size: 2rem;
}
footer .imprint {
  margin: 0 0 1rem 0;
}
footer .imprint a:hover,
footer .icons a .fa-instagram:hover,
footer .icons a .fa-youtube:hover {
  color: #bf2c53;
}
footer .icons a .fa-twitter:hover,
footer .icons a .fa-linkedin:hover {
  color: #056cf2;
}

@media (min-width: 768px) {
  #menu-btn {
    display: none;
  }
  nav {
    display: block;
  }
  main {
    padding: 5rem 10rem 15rem 10rem;
  }
  main .container {
    padding-top: 7rem;
    grid-template-rows: repeat(3, 40rem);
  }
  main .container h2 {
    font-size: 3rem;
  }
  main .container .content-1 h1 {
    font-size: 4rem;
  }
  main .container .content-1 h3 {
    font-size: 2.5rem;
  }
  main .container .content-1 p {
    font-size: 2rem;
  }
  main .container .content-2 p,
  main .container .content-4 p {
    font-size: 2rem;
  }
  main .container-side {
    padding-top: 7rem;
    grid-template-rows: repeat(7, 40rem);
  }
  main .container-side h2 {
    font-size: 3rem;
  }
  main .container-side .content-1 h1 {
    font-size: 4rem;
  }
  main .container-side .content-1 h3 {
    font-size: 2.5rem;
  }
  main .container-side .content-1 p {
    font-size: 2rem;
  }
  main .container-side .content-2 p,
  main .container-side .content-4 p,
  main .container-side .content-6 p,
  main .container-side .content-8 p,
  main .container-side .content-10 p,
  main .container-side .content-12 p {
    font-size: 2rem;
  }
  aside img {
    object-fit: cover;
  }
  .container-imprint {
    text-align: left;
    width: 70%;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .icons:nth-child(1) {
    order: 2;
    width: 50%;
  }
  .imprint:nth-child(2) {
    order: 3;
    width: 25%;
  }
  .copyright:nth-child(3) {
    order: 1;
    width: 25%;
  }
  .imprint {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1080px) {
  main {
    padding: 5rem 10rem 15rem 10rem;
  }
  main .container {
    padding-top: 7rem;
    grid-template-rows: repeat(3, 50rem);
  }
  main .container h2 {
    font-size: 4rem;
  }
  main .container .content-1 h1 {
    font-size: 5rem;
  }
  main .container .content-1 h3 {
    font-size: 3.5rem;
  }
  main .container .content-1 p {
    font-size: 2.5rem;
  }
  main .container .content-2 p,
  main .container .content-4 p {
    font-size: 2.5rem;
  }
  main .container-side {
    padding-top: 7rem;
    grid-template-rows: repeat(7, 50rem);
  }
  main .container-side h2 {
    font-size: 4rem;
  }
  main .container-side .content-1 h1 {
    font-size: 5rem;
  }
  main .container-side .content-1 h3 {
    font-size: 3.5rem;
  }
  main .container-side .content-1 p {
    font-size: 2.5rem;
  }
  main .container-side .content-2 p,
  main .container-side .content-4 p,
  main .container-side .content-6 p,
  main .container-side .content-8 p,
  main .container-side .content-10 p,
  main .container-side .content-12 p {
    font-size: 2.5rem;
  }
  aside img {
    object-fit: cover;
  }
  .container-imprint {
    text-align: left;
    width: 70%;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .icons:nth-child(1) {
    order: 2;
    width: 50%;
  }
  .imprint:nth-child(2) {
    order: 3;
    width: 25%;
  }
  .copyright:nth-child(3) {
    order: 1;
    width: 25%;
  }
  .imprint {
    display: flex;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=main.css.map */
